.main{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
}
/* .radio{
    width: 20%;
} */
input{
    border: 1px solid black !important;
}
form{
    margin: 2% 5% 5% 8% !important;
    width: 100% !important;
}
p,h1 {
    margin-left: 10%;
}

@media screen and (max-width: 780px) and (min-width: 510px){
    form{
        width: 80% !important;
    }
}

@media screen and (max-width: 1300px) and (min-width: 0px){
    .table{
        overflow: auto;
    }
}
@media screen and (max-width: 509px) and (min-width: 320px){
    *{
        font-size: small;
    }
    form{
        width: 80% !important;
    }
    h1{
        font-size: medium;
    }
    p{
        font-size: 11px;
    }
}
